<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Waseem-Suite" parallel="tests" thread-count="5">
	<listeners>
		<listener class-name="com.waseem.framework.EnvReaderListener" />
	</listeners>
	
	<parameter name="build" value="0" />
	<parameter name="accessKey" value=""></parameter>
<!-- 	<parameter name="EriBank_Android_DeviceQuery" value=""></parameter> -->
<!-- 	<parameter name="EriBank_iOS_DeviceQuery" value=""></parameter> -->
<!-- 	<parameter name="LoginFail_Android_DeviceQuery" value=""></parameter>	 -->
	<parameter name="launsh.url" value="https://experitest.com/customers" />

	<test name="Web-Android">
		<parameter name="browser.os" value="android" />
		<parameter name="deviceQuery" value="@os='android'" />
		<classes>
			<class name="com.waseem.tests.ExperitestCustomers" />
		</classes>
	</test>

	<test name="Web-iOS">
		<parameter name="browser.os" value="ios" />
		<parameter name="deviceQuery" value="@os='ios' and contains(@model, 'iphone')" />
		<classes>
			<class name="com.waseem.tests.ExperitestCustomers" />
		</classes>
	</test>

	<test name="EriBank-ios">
		<!-- <parameter name="deviceQuery" value="@udid='5d844d70f42c4cf78cff3b394a53e0763c2766dd'"></parameter> -->
		<parameter name="deviceQuery" value="@os='ios' and contains(@model, 'iphone')" />
		<classes>
			<class name="com.waseem.tests.EriBank_iOS">
			</class>
		</classes>
	</test> <!-- Test -->

	<test name="EriBank-Android">
		<parameter name="deviceQuery" value="@os='android' and @manufacture='samsung'"></parameter>
		<classes>
			<class name="com.waseem.tests.EriBank_Android">
			</class>
		</classes>
	</test> <!-- Test -->

	<test name="LoginFail-Android">
		<!-- <parameter name="deviceQuery" value="@udid='CB5A28SE0B'"></parameter> -->
		<parameter name="deviceQuery" value="@os='android' and @manufacture='samsung'"></parameter>
		<classes>
			<class name="com.waseem.tests.LoginFail_Android">
			</class>
		</classes>
	</test> <!-- Test -->

</suite> <!-- Suite -->