<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="My Suite" parallel="methods">
    <listeners>
        <listener class-name="com.waseem.framework.EnvReaderListener"/>
    </listeners>
    <parameter name="build" value="Not Set"/>
    <parameter name="accessKey" value="Not Set"></parameter>
    <test name="My Test">
        <classes>
			<class name="com.waseem.tests.SampleTest" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
