<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="My Suite" parallel="methods" verbose="10">
	<parameter name="name" value="Sample name" />
	<test name="Test">
		<classes>
			<class name="com.waseem.tasks.SampleTest" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
